<section class="story-container">
  <div class="story__user">
    <div class="story__add">
      <svg
        class="story__add-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
      >
        <path
          d="M14.6693 7.99992C14.6693 8.5259 14.2429 8.9523 13.7169 8.9523H8.95499V13.7142C8.95499 14.2402 8.52859 14.6666 8.0026 14.6666V14.6666C7.47662 14.6666 7.05022 14.2402 7.05022 13.7142V8.9523H2.28832C1.76233 8.9523 1.33594 8.5259 1.33594 7.99992V7.99992C1.33594 7.47393 1.76233 7.04754 2.28832 7.04754H7.05022V2.28563C7.05022 1.75965 7.47662 1.33325 8.0026 1.33325V1.33325C8.52859 1.33325 8.95499 1.75965 8.95499 2.28563V7.04754H13.7169C14.2429 7.04754 14.6693 7.47393 14.6693 7.99992V7.99992Z"
          fill="#343A40"
        />
      </svg>
    </div>
    <p class="story__text">add yours</p>
  </div>
  <div class="story__user">
    <img class="story__image" src="images/profile-1.png" alt="" />
    <p class="story__text-profile">Cosmic_Wanderer</p>
  </div>
  <div class="story__user">
    <img class="story__image" src="images/profile-2.png" alt="" />
    <p class="story__text-profile">Dreamy</p>
  </div>
  <div class="story__user">
    <img class="story__image" src="images/profile-3.png" alt="" />
    <p class="story__text-profile">Soulful</p>
  </div>
  <div class="story__user">
    <img class="story__image" src="images/profile-4.png" alt="" />
    <p class="story__text-profile">Serene</p>
  </div>
  <div class="story__user">
    <img class="story__image" src="images/profile-5.png" alt="" />
    <p class="story__text-profile">Enchanted</p>
  </div>
  <div class="story__user">
    <img class="story__image" src="images/profile-6.png" alt="" />
    <p class="story__text-profile">Luminous_Aura</p>
  </div>
  <div class="story__user">
    <img class="story__image" src="images/profile-7.png" alt="" />
    <p class="story__text-profile">Tranquil_Echoes</p>
  </div>
  <div class="story__user">
    <img class="story__image" src="images/profile-8.png" alt="" />
    <p class="story__text-profile">Ethereal_Glow</p>
  </div>
  <div class="story__user">
    <img class="story__image" src="images/profile-9.png" alt="" />
    <p class="story__text-profile">Mystic_Nomad</p>
  </div>
  <div class="story__user">
    <img class="story__image" src="images/profile-10.png" alt="" />
    <p class="story__text-profile">Serendipitous_Soul</p>
  </div>
  <div class="story__user">
    <img class="story__image" src="images/profile-11.png" alt="" />
    <p class="story__text-profile">Zenith_Seeker</p>
  </div>
</section>
